# HwBinder IPC from client to server
binder_call(hal_allocator_client, hal_allocator_server)

# hal_attribute_hwservice(hal_allocator, hidl_allocator_hwservice) with the factory pxrcontrollerservice exception.
allow hal_allocator_client hidl_allocator_hwservice:hwservice_manager find;
add_hwservice(hal_allocator_server, hidl_allocator_hwservice)
build_test_only(`
  neverallow { domain -hal_allocator_client -hal_allocator_server -pxrcontrollerservice } hidl_allocator_hwservice:hwservice_manager find;
')
allow hal_allocator_client hidl_memory_hwservice:hwservice_manager find;
allow hal_allocator_client same_process_hal_file:file { execute read open getattr map };
